<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gebros.cave">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.gebros.platform.GBApplication">
        <activity
            android:name="com.gebros.platform.unity.GBUnityActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="fullSensor"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        

        <!-- Facebook -->
        <activity android:name="com.facebook.FacebookLoginActivity"
            android:label="@string/app_name"/>
        <activity android:name="com.facebook.PermissionSelectActivity"/>
        
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_application_id" />
        <meta-data android:name="com.facebook.sdk.ApplicationName" android:value="@string/app_name" />
        <!-- Vungle -->
        <activity android:name="com.vungle.publisher.VideoFullScreenAdActivity" />

        <!-- AppLovin -->
        <activity android:name="com.applovin.adview.AppLovinInterstitialActivity" />
        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />
        <meta-data android:name="applovin.sdk.key" 
            android:value="wsGT89gFuGFIZrLsp6MrS_TQaRU_HuBCkSftbL6UcMnAB61_DOqgOI5zkaz0S9CAbt2CC8gqUS_gZ0fnPURonX" />

        <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik"
            android:value="true" />


출처: http://seungngil.tistory.com/entry/iOS-Android-Unity에서-admob을-구현하는-방법 [To be a programmer...]
    </application>

</manifest>